@import "scss/colors.gradients";

@import "scss/variables";

@import "scss/main";
@import "scss/fonts";
@import "scss/project";
@import "scss/tables";
@import "scss/post";
@import "scss/card";
@import "scss/figures";
@import "scss/gallery";
@import "scss/hills";
@import "scss/code";

@import "~bootstrap/scss/bootstrap";
