<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container d-flex justify-content-between">

    <a class="navbar-brand"
       href="{{ .Site.Home.RelPermalink }}">
      {{ site.Title }}
    </a>

    <!-- Menu Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Main Menu -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="menu-main navbar-nav me-auto mb-2 mb-lg-0">
        {{- $current := . -}}
        {{- $section := $current.Section -}}
        {{ range .Site.Menus.main -}}
        {{- $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) -}}
        {{- $active = or $active (eq .Name $current.LinkTitle) -}}
        {{- $active = or $active (and (eq .Name ($section | humanize)) (eq $current.Section $section)) -}}
        {{- $active = or $active (and (eq .Name "Blog") (eq $current.Section "blog" "contributors")) -}}
        {{ if .HasChildren }}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ .Name }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {{ range .Children -}}
            {{- $active = eq .Name $current.LinkTitle -}}
            <li>
              <a class="dropdown-item{{ if $active }} active{{ end }}" href="{{ .URL | relLangURL }}" {{ if $active }}aria-current="true" {{ end }}>
                {{ .Name }}
              </a>
            </li>
            {{ end -}}
          </ul>
        </li>
        {{ else }}
        <li class="nav-item">
          <a class="nav-link{{ if $active }} active{{ end }}" aria-current="page" href="{{ .URL | relLangURL }}"{{ with .Title }} title='{{ . }}' aria-label='{{ . }}'{{ end }}>{{ .Name }}</a>
        </li>
        {{ end }}
        {{ end -}}
      </ul>
    </div>
    
    <!-- <\!-- Light switch -\-> -->
    <!-- <div class="control-pane"> -->
    <!--   <div class="form-check form-switch d-flex"> -->
    <!-- 	<input class="form-check-input" type="checkbox" role="switch" value="yes" id="theme-toggle"> -->
    <!--   </div> -->
    <!-- </div> -->

    
  </div>
</nav>
