$sepia: #704214;
$sepia-background: #f4f2f0;
$kentigern2:  #C59565;
$kentigern3:  #972702;
$kentigern4:  #14AD9C;
$kentigern5:  #9F0774;
$kentigern6:  #35EA86;
$kentigern7:  #BD77DE;
$kentigern8:  #96BEFC;
$kentigern9:  #A3DEF0;
$kentigern10: #145B70;
