/* Margin-align images */

img {
    max-width: 100%;
}

@media (min-width: 1200px) {

    figure.full-width {
	max-width: 100%;
	padding-left: 0%;
	margin-right: 0;
    }
    
    article>p>img {
	float: inherit;
	clear: inherit;
	position: relative;
	padding-left: 0;
	padding-bottom: 10px;
	margin-right: 0;
    }
    
    article img {
	float: right;
	clear: right;
	position: relative;
	padding-left: 2%;
	padding-bottom: 10px;
	margin-right: -32px;
    }

    figure:nth-of-type(odd) {
	float: right;
	clear: right;
	margin-right: calc(-100vw / 12 * 1.5) !important;
	/* margin-left: -33.3% !important; */
	/* position: relative; */
	// padding-left: 2%;
	max-width: 50vw;
    }

    figure:nth-of-type(even) {
	float: left;
	clear: left;
	margin-left: calc(-100vw / 12 * 1.5 - 3.7rem) !important;
	/* margin-left: -33.3% !important; */
	/* position: relative; */
	// padding-left: 2%;
	max-width: 50vw;
	padding-right: 3.7rem;
    }

    
    figure > img {
	width: 100%;
	float: none;
	margin-right: 0;
	position: relative;
	padding-left: 0;
    }

    
    figure.wideimage {
	float: right;
	clear: right;
	width: 100vw;
	max-width: 100vw;
	padding-left: 0;
	padding-right: 0;
    }
    
    figure.wideimage img {
	width: 100vw;
	max-width: 100vw;
	padding-left: 0px;
	margin-right: calc(7.25*-4.166% - var(--bs-gutter-x))
    }

    figure.wideimage figcaption {
	margin-left: 4.166%;

    }

    .figure-caption {
	font-size: 75%;
	margin-left: 4rem;
	margin-right: 4rem;
    }
}

/* Figures */

figcaption {
    line-height: 1.2;
    font-size: 75% !important;
    padding: 1.5rem;
    color: #555555;
}

figure > img {
    width: 100%;
}
