/* Margin-align images */

img {
    max-width: 100%;
}

@media (min-width: 1200px) {

    figure.full-width {
	max-width: 100%;
	padding-left: 0%;
	margin-right: 0;
    }
    
    article>p>img {
	float: inherit;
	clear: inherit;
	position: relative;
	padding-left: 0;
	padding-bottom: 10px;
	margin-right: 0;
    }
    
    article img {
	float: right;
	clear: right;
	position: relative;
	padding-left: 2%;
	padding-bottom: 10px;
	margin-right: -32px;
    }

    figure {
	float: right;
	clear: right;
	margin-right: -33.3%;  /* !important; */
	/* margin-left: -33.3% !important; */
	/* position: relative; */
	padding-left: 2%;
	max-width: 66.6%;
    }

    figure > img {
	width: 100%;
	float: none;
	clear: right;
	margin-right: 0;
	position: relative;
	padding-left: 0;
    }

    figure.wideimage {
	float: right;
	clear: right;
	width: 100vw;
	max-width: 100vw;
	padding-left: 0;
	padding-right: 0;
    }
    
    figure.wideimage img {
	width: 100vw;
	max-width: 100vw;
	padding-left: 0px;
	margin-right: calc(7.25*-4.166% - var(--bs-gutter-x))
    }

    figure.wideimage figcaption {
	margin-left: 4.166%;

    }
}

/* Figures */

figcaption {
    line-height: 1.2;
    font-size: 90%;
    padding: 1.5rem;
    color: #555555;
}

figure > img {
    width: 100%;
}
