.point-munro {
    fill: #D44886;
}
.point-munro-top {
    fill: #D44886;
}
.point-munro-xtop {
    fill: #D44886;
}

.point-corbett {
    fill: orange;
}

.point-graham {
    fill: green;
}

.point-donald {
    fill: purple;
}

.point-donald-top {
    fill: purple;
}

.area {
    fill: #AAA;
}
