/* Post styles */
/* ----------------------------------------------------------*/

.post-header {
    margin: 30px 0 30px;
    // color: white;
    fnt-weight: bold;
    -webkit-text-stroke: 1px white;
}

.post-header h1 {
//   font-size: 42px;
//   letter-spacing: -1.75px;
//   line-height: 1;
//   font-weight: 300;
}

.post-header-no-image h1 {
    font-family: Lato;
    font-weight: bolder;
    font-stretch: expanded;
    font-kerning: normal;
    text-align: center;
    padding: 1rem;
}

.post-header .meta {
  font-size: 15px;
  color: #FFFFFF;
  margin-top: 5px;
  margin-bottom: 0;
}

p.meta{
    margin-bottom: 0;
}

.post-content {
    margin: 0 0 30px;
    margin-top: -25 vh;
    padding: 2rem;
}

.post-content > * { margin: 20px 0; }

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    clear: both;
}

.post-content h1 {
    line-height: 1;
    font-weight: 400;
    color: var(--kentigern-primary);
    display: table;
}

.post-content h2 {
  font-size: 32px;
  letter-spacing: -1.25px;
}

.post-content h3 {
  font-size: 26px;
  letter-spacing: -1px;
}

.post-content h4 {
  font-size: 20px;
  letter-spacing: -1px;
}

.post-content blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 20px;
  font-size: 18px;
  opacity: .6;
  letter-spacing: -1px;
  font-style: italic;
  margin: 30px 0;
}

.post-content ul,
.post-content ol { padding-left: 20px; }

.post pre,
.post code {
  border: 1px solid #d5d5e9;
  background-color: #eef;
  padding: 8px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 15px;
}

.post code { padding: 1px 5px; }

.post ul,
.post ol { margin-left: 1.35em; }

.post pre code { border: none; }

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.post pre.terminal code { background-color: #333; }

.wrap-wide .post-header {
  background: #eee none repeat scroll 0 0;
  padding: 15px 15px 15px 40px;
}

.wrap-wide {
    padding: 15px;
}

.post-header-no-image {
    
		      }

.post-header-no-image .meta { 
			    }

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {   display: table;
		  width: 100%;
		  height: 95vh; /* For at least Firefox */
		  min-height: 95vh;
	      }

.row > .site-wrapper {
    padding-left: 0;
    padding-right: 0;
}

.cover-container { min-width:100%;
		   width: 100%;
		   background: var(--kentigern-primary-translucent);
		   padding: 2rem;
		   vertical-align: bottom;
		   margin-top: auto;
		   margin-bottom: 0;
		   position: relative;
		 }


.site-wrapper-inner { background-color: #BBBBBB;
		      background-position: center center;
		      background-size: cover;
		      display: table-cell;
		      vertical-align: top;
		    }
