.project-container {

}

.project-container h1 {
    color: var(--color-text);
    text-transform: none;
    border: none;
    text-align: center;
    font-size: 3.0rem;
}

.project-masthead{
    text-align: center;
    font-size: 1.3rem;
    padding-top: 10rem;
    padding-bottom: 8rem;
}

$kentigern_light_intermediate: #001b33;
$kentigern_light_code_background: #{$kentigern_light_intermediate};
html {
    --color-code-background:  #{$kentigern_light_code_background};
}

.asimov-code {
    margin: 0;
    border-radius: 0.5rem;
    padding: 0.3rem;
    padding-left: 1rem;
    padding-top: 1.1rem;
    text-align: left;
    min-width: 350px;
    color: white;
    background: var(--color-code-background);
}

.project-feature-leader {
    text-align: center;
    font-size: 1.4rem;
    padding-bottom: 8rem;
}

.project-feature {
    text-align: left;
    font-size: 1.3rem;
    padding-bottom: 5rem;
}

.project-border-left {
    border-color: var(--kentigern-border-color);
    border-left-width: 1px;
    border-left-style: solid;
}
