
$kentigern-body-bg: $sepia-background;
$kentigern-body-color: $sepia;


$body-bg: $kentigern-body-bg;
$body-color: $kentigern-body-color;


$font-family-sans-serif: "Lato";

$theme-colors:(
    "dark": $sepia,
    "light": $sepia-background,
    "primary": $kentigern2,
    "secondary": $kentigern3,
    "success": $kentigern4,
    "danger": $kentigern5,
    "info": $kentigern9,
    "warning": $kentigern7
);
